body{background-color: purple;
    text-align: center;
}

a{
    color: red;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.marca{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">;
    background-color: gold;
    height: 8vh;
}



.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;

}

main{
    background: url(transferir) no-repeat center center;
    background-size: cover;
    height: 92vh;
}



.camisa{
    text-align: center;
    background-color: pink;
    padding: 5px;
    border-style: solid;
    width: 300px;
    border-radius: 12px;
}

#camisetas{
    display: flex;
    justify-content: space-between;
}



h1{
    text-align: center;
}

.Calça{
    text-align: center;
    background-color: pink;
    padding: 5px;
    border-style: solid;
    width: 300px;
    border-radius: 12px;
}

#Calças{
    display: flex;
    justify-content: space-between;
}

.acessório{
    text-align: center;
    background-color: pink;
    padding: 5px;
    border-style: solid;
    width: 300px;
    border-radius: 12px;
}

#acessórios{
    display: flex;
    justify-content: space-between;
}


.Sobre {
    object-fit: cover;
    border-color: Yellow;
    margin: 50px;
    text-align: left;
    display: flex;
    padding: 50px;



}


.Noz {
    object-fit: cover;
    margin: 50px;
    padding: 50px;
    text-align: center;
    display: flex;
    
}

.Moris {
    object-fit: cover;
    border-color: Yellow;
    margin: 50px;
    padding: 50px;
    text-align: left;
    display: flex;

}

#rodapé {
    width: 100%;
    height: 100px;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: yellow;
}
